<div id="tweets">
<% @tweets.each do |tweet| %>
  <p>
  --------------------------------------------<br>
  Title: <%= tweet.title %><br>
  <%= tweet.content %><br>
  <%= distance_of_time_in_words(Time.now, tweet.created_at) %> ago<br>  
  <%= link_to "Delete", user_tweet_path(@user, tweet), :confirm => 'Are you sure?', :method => :delete %><br>
  --------------------------------------------<br>
  </p>
<%end%>
</div>
